<header>
    <link rel="stylesheet" href="/styles.css">
    <div class="container">
        <a href="/" id="branding">
            <h1>Fake Stock Market</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/stocks">Stocks</a></li>
                <% if (user) { %>
                    <li class="divider"></li>
                    <% if (user.isAdmin) { %>
                        <li><a href="/addStock">Add Stock</a></li>
                        <% } else { %>
                            <li><a href="/portfolio">Your Portfolio</a></li>
                            <% } %>
                                <li class="right"><a href="/profile" class="username-link">
                                        <%= user.username %>
                                    </a></li>
                                <% } else { %>
                                    <li class="divider"></li>
                                    <li class="right"><a href="/auth">Register/Login</a></li>
                                    <% } %>
            </ul>
        </nav>
    </div>
</header>