<header>
    <link rel="stylesheet" href="/styles.css">
    <div class="container">
        <a href="/" id="branding">
            <h1>Fake Stock Market</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>