<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fake Stock Market Storefront</title>
        <link rel="stylesheet" href="/styles.css">
</head>

<body>
        <%- include('partials/header') %>
                <section id="showcase">
                        <div class="container">
                                <h1>Welcome to the Fake Stock Market Storefront</h1>
                                <p>Buy and sell stocks with our fake currency!</p>
                        </div>
                </section>
</body>

</html>