<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks</title>
    <script src="https://js.stripe.com/v3/" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script src="/js/stocks.js" defer></script>
</head>

<body>
    <%- include('partials/header') %>
        <div id="container" class="container" data-stripe-public-key="<%= process.env.STRIPE_PUBLIC_KEY %>"
            data-user-id="<%= user.id %>" data-openai-key="<%= process.env.OPENAI_KEY %>">
            <h1>Stocks</h1>
            <input type="text" id="stockSearch" placeholder="Search stocks...">
            <div class="stock-list" id="stockList">
            </div>
            <div class="quote" id="quote">
            </div>
            <div id="recommendations" class="recommendations">
                <h2>Recommended Stocks</h2>
            </div>
            <div class="cart" id="cart">
                <h2>Your Cart</h2>
                <div id="cartItems">
                </div>
                <button id="purchaseButton">Purchase</button>
            </div>
        </div>
</body>

</html>